<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Collector</title>
</head>
<body>
    <h1>Welcome to US News</h1>

    <form action="/search_articles" method="POST">
        <input name="user_input">
        <input type="submit" value="Search">
    </form>
    <div id="collect_data">
        <button onclick="collectData()">Collect Data</button>
    </div>
    
    <script>
        function stringToHTML(htmlString) {
            const template = document.createElement('template');
            template.innerHTML = htmlString.trim(); // Set the inner HTML
            return template.content.firstChild; // Extract the first node from the template
        }
        function collectData() {
            fetch('/collect_data', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' }
                //body: JSON.stringify(data)
            })
            .then(response => response.text())
            .then(msg => {
                console.log(msg)
                const htmlNode = stringToHTML(msg);
                console.log(htmlNode); // Logs the <h1> element node
                document.getElementById("collect_data").appendChild(htmlNode);
            })
            .catch(error => console.log('Error fetching response:', error));
        }
    </script>
    <form action="/articles_last_7_days" method="POST">
        <input type="submit" value="Last 7 days">
    </form>
    <form action="/articles_last_30_days" method="POST">
        <input type="submit" value="Last 30 days">
    </form>
</body>
</html>